h1 {
    width: 65px;
    color: orange;
    font-family: sans-serif;
}

ul {
    background-color: bisque;
    text-decoration: underline;
    line-height: 0.7cm;
}

.list {
    background-color: rgb(214, 127, 195);
}

p {
  font-weight: 600;
  font-size: 3em;
  font-style: italic;
  text-align: center;
  line-height: 50px;
  font-family: cursive, monospace;
}
/* isso é um comentário */

body {
font-size: 16px;
}

#ama {
background-color: yellow;
}

#verm {
background-color: red;
}

#mar {
background-color: brown;
}