#cryptoContainer {
    display: flex;
    justify-content: center;
}
#cryptoList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 10px;
    column-gap: 15px;
    max-width: 80%;
    padding: 12px;
    border: 15px solid rgb(243, 220, 191);
    border-radius: 5px;
    background-color: rgb(236, 212, 181);
    color: rgb(55, 55, 55);
}

h1 {
    text-align: center;
}